:root {
  --main-text-color: #104a36;
}

* {
  box-sizing: border-box;
}
  
html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

a, a:hover, a:focus, a:active  {
    text-decoration: none!important;
    color: inherit!important;
}

h2 {
  color: var(--main-text-color);
}